#twitterbadge{
  border:1px solid #ccc;
  width:300px;
  padding:.5em;
  margin:.5em;
  background:#eee;
  font-family:arial,sans-serif;
}
#twitterbadge *{
  font-size:90%;
  list-style:none;
  margin:0;
  padding:0;
  line-height:1.3em;
}

#twitterbadge a{
  color: #369;
  text-decoration: none;
}
#twitterbadge a:hover{
 text-decoration: underline;
}
#twitterbadge #twitterbadgeuser{
  position:relative;
  min-height:70px;
  margin-top:.5em;
}
#twitterbadgeuser ul{
  padding-left:70px;
}
#twitterbadge li{
  margin-bottom:.5em;
}
#twitterbadge #twitterbadgetweets li{
  border-bottom:1px solid #ccc;
  padding-bottom:.5em;
  margin-bottom:.5em;
}
#twitterbadge img{
  border:1px solid #999;
  padding:5px;
  background:#fff;
  position:absolute;
}
#twitterbadge #twitterbadgetweets{
  clear:both;
}