*{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
html{ height: 100%;}

body{
    font-family: 'Segoe UI' , Verdana, Helvetica, Sans-Serif;
    font-size: 10pt;
    height: 100%;
    background-color: white;
    color: #424242;
}
body
{
    position: relative;
    margin: 0px auto 0px auto;
    min-width: 1000px;
    max-width: 1000px;
    background-image: url('Gradient.png');
    background-repeat:repeat-x;
}
#Content
{
    overflow-x: auto;
    width: 1000px;
    background-image: url('Background2.png');
    background-repeat: no-repeat;
}

#Bird
{
    width: 170px;
    height: 116px;
    background-image: url('TwitterBird.png');
    margin: 22px 490px 0px auto;
}

#Logo
{
    position: absolute;
    top: 138px;
    left: 20px;
    width: 190px;
    height: 55px;
    background-image: url('Logo.png');
    margin: 0px auto 0px auto;
}

#output {
-moz-column-count: 2; -moz-column-width: auto; height: auto;
ms-column-count: 2;
webkit-column-count: 2;
column-count:2;
o-column-count: 2;

ms-column-width: auto;
webkit-column-width: auto;
column-count-width: auto;
o-column-width: auto;


    -moz-column-rule: 0 solid #AAAAAA;
    background-color: #FFFFFF;
    border: 3px solid #14A1CC;
    border-radius: 12px 12px 12px 12px;
    font-family: "Lucida Grande",sans-serif;
    font-size: 14px;
    height: auto;
    line-height: 16px;
    list-style-type: none;
    margin-top: 32px;
    padding: 56px 20px 80px;
}

.tweetBox {
    border-bottom: 1px solid #ECECEC;
    border-radius: 4px 4px 4px 4px;
    font-size: 9pt;
    margin-bottom: 8px;
    min-height: 48px;
    min-width: 48px;
    padding: 4px 4px 12px 56px;
    position: relative;
}
.tweetBox img {
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    height: 48px;
    left: 0;
    margin-left: 2px;
    margin-top: 6px;
    position: absolute;
    text-overflow: ellipsis;
    top: 0;
    width: 48px;
}

footer{float: right}

a{color: #0daeff}